#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9 {
    display: none;
}

body {
    background-color: antiquewhite;
    font-family: "Audiowide", sans-serif;
}

h3 {
    font-family: "Audiowide", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    text-align: justify;
}

#texto-footer {
    text-align: right;
    margin: 10px;
}