#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9 {
    display: none;
}

body {
    background-color: rgb(228, 190, 223);
    font-family: "Audiowide", sans-serif;
}

h3 {
    font-family: "Audiowide", sans-serif;
}

p {
    font-family: "Arial", sans-serif;
    text-align: justify;
}

#texto-footer {
    text-align: right;
    margin: 10px;
}

.img-windows {
    width: 100%;
    height: 60%;
    padding: 10%;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: blueviolet;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}